__pycache__/
.idea/
numpy saves/
mri images/
histology/
RandomWalkSimulator/.vs/
RandomWalkSimulator/Debug/
RandomWalkSimulator/Release/
RandomWalkSimulator/results/
RandomWalkSimulator/RandomWalkSimulator/Debug/
RandomWalkSimulator/RandomWalkSimulator/Release/
SimulationCpp/.vs/
SimulationCpp/build/
SimulationCpp/Release/
SimulationCpp/SimulationCpp/Release/